* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
hmix=(a,b,p)=>'#'+[1,3,5].map(i=>((1-p)*('0x'+a.substr(i,2))+p*('0x'+b.substr(i,2))|0).toString(16).padStart(2,'0')).join('')
*/

:root {
  --bgcolor: #1D1828;
  --textcolor: #fc4;
  --textstrong: #4bf; /*#f61;*/
  --textstrongheader: #f80;
  --textstronginverse: #f80;
  --texthighlight: #cd1++++;
  --textcode: #cf4;
  --textlink: #f61;/*#4bf;*/
  --infolink: #f34;
  --infocolor: #f61;
  --infolinkhover: #f68;
  --shadow: #000;
}

body {
  background: var(--bgcolor);
  color: var(--textcolor);
  line-height: 1.5;
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-size: 100%; /* Works in conjunction with the font-size of the wrapper */
}

.wrapper {
  font-size: 1.5em;
}

header, section, footer, nav {
  display:block;
}

header #logo img,
header #logo canvas { 
  max-width: 100%;
  max-height: 33vh; 
  display: block; 
  margin: 0 auto;
}

nav {
  margin: .25em auto 0 auto;
  max-width: 50em;
  text-align: center;
}

nav a {
  display: inline-block;
  width: 24%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--textlink);
}

section strong { color: var(--textstrong); font-weight: bold; }
section em { color: var(--texthighlight); font-style: italic; }
section code { color: var(--textcode); font-family: monospace; }
section a { color: var(--textlink); }
section .info { font-size: .7em; line-height: 1.25; color: var(--infocolor); }
section .info a {color: var(--infolink); font-weight: bold; }
section .info a:hover {color: var(--infolinkhover); }

section .share { font-size: .7em; line-height: 1.25; color: var(--texthighlight); }
section .share b { font-weight: bold; border: none; padding: 0; }

p.shadows { text-shadow: .25em .25em .0625em #0004; }

section b { /* for styling colour swatches in the prompts list */
  padding: 0.25em;
  border: 2px solid #000;
  font-weight: bold;
}

section h1 a { color: inherit; text-decoration: none; }

section {
  box-sizing: border-box;
  font-size: 1em;
  max-width: 42em;
  margin: .5em auto;
  padding:0 2em 2em 2em;
}

section p {
  margin: 1em 0;
}

section hr {
  margin: 3em 0;
  border-top: .25em solid var(--textstrong);
  border-bottom: .25em solid var(--shadow);
  border-left: none;
  border-right: none;
}

section h1, section h2, section h3, section h4, section h5, section h6 {
  margin: .75em 0 .5em 0;
  font-size: 1.25em;
  line-height: 1;
  font-weight: bold;
  color: var(--textstrongheader);
}

section h1 {
  text-shadow: .0625em .0625em 0 var(--shadow);
  font-size: 2em;
  text-align: center;
}

section h2 {
    border-top: 2px solid #333055;
    font-size: 1.5em;
    margin: 0 -1em;
    padding: .5em 1em 0 1em;
}

section ul {
    list-style: disc outside;
    margin: 1em 0.5em;
    padding: 0 0.25em;
}

section ul li {
  margin: .5em 0;
}


section pre {
  background:#121416 url("../img/hibiscustile2_okay.png");
  border: solid 1px #000;
  border-radius: 0.25em;
  box-shadow: inset 0 0.25em 1em rgba(0,0,0,0.2);
  color: #0fc;
  padding: 1em;
  text-shadow: 0 0 3px #120, 0 0 10px #0fc;
/*  overflow-x: auto;*/
  margin-top: 1em;
  white-space: pre-wrap;
  word-break: break-all;
}

section pre code {
    color: #0fc;
  }


section pre .cursor {
  animation: blink 0.7s infinite;
  border-bottom: solid 2px #9ff;
  display: inline-block;
  height: 1.2em;
  width: 0.4em;
}

@keyframes blink {
  0% {opacity: 0.6}
  20% {opacity: 0.6}
  100% {opacity: 0}
}

footer {
  color: #68A;
  font-size: 0.6em;
  margin: 1em auto 0;
  max-width: 42em;
  padding: 1em;
  text-align: left;
}

footer a { color: var(--infolinkhover); }

@media (max-width: 640px) {
  .wrapper {
    font-size: 0.9em;
  }
}

.today {
  font-size: 2em;
  color: var(--textcolor);
/*  text-shadow: 0 0 0.1em #fff, .0625em .0625em 0 #fff;*/
}

.today::after {
  background-color: #fff;
  color: var(--textstronginverse);
  content: "that's today!";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.4375em;
  font-weight: bold;
  margin-left: 2em;
  padding: .5em .75em;
  box-shadow: 0.25em 0.5em 0 var(--shadow);
  border-radius: .5em;
  text-shadow: none;
}

.credit {
  font-size: 0.5em;
}
.credit a {
  text-decoration: none;
}

